@media (max-width: 1000px) {
    .nav-bar__left, .nav-bar__left ul  {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .basket-space {
        padding-top: 10px;
    }
    .navbar-toggler {
        margin: 0 25px;
        border: none;
        &:focus {
            box-shadow: none;
        }
    }
    .navbar-toggler-icon {
        height: 21px;
        position: relative;
        background-image: none;
        &::after, &::before, span {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #B08EAD;
            position: absolute;
            transition: .4s;
        }
        &::after{
            top: 100%;
            right: 0;
        }
        &::before{
            bottom: 100%;
            right: 0;
        }
        & span {
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
    }
    [aria-expanded = true] .navbar-toggler-icon {
        &::after{
            top: 4px;
            right: 0;
            transform: rotate(45deg);
        }
        &::before{
            bottom: 15px;
            right: 0;
            transform: rotate(-45deg);
        }
        & span {
            width: 0;
        }
    }
    .nav-bar__left ul li {
        padding-top: 10px;
    }
    .nav-bar__left a {
        align-self: baseline;
    }
    .first-screen__container {
        flex-direction: column;
        &::after, &::before {
            background: transparent;
        }
        & .box-info {
            padding: 63px 104px 63px 40px;
            background: #B08EAD;
            margin-top: -211px;
        }
    }

    .introduction-column__subtitle {
        padding: 0 20px;
    }
    .about {
        & .fd-row-reverse { 
            flex-direction: column;
            .box-info {
            margin-top: -50px;
            margin-left: 36px;
            margin-right: 92px;
            z-index: 1;
            }
        }
    }
    .about-detail__item, .about-detail__item-delete {
        flex-direction: column-reverse;
        align-items: center;
    }
    .about-detail__item:nth-child(even) {
        flex-direction: column;
    }

    .trend {
        &-container { 
            flex-direction: column;
            .box-info {
            margin-top: -50px;
            margin-left: 36px;
            margin-right: 92px;
            z-index: 1;
            }
        }
    }
    .form-container__button {
        margin-bottom: 35px;
    }
    .goods-container {
        padding: 74px 10px 76px;
        &__row {
            align-items: center;
            flex-direction: column;
        }
    }
    .form-container {
        flex-wrap: wrap;
        padding: 0 20px;
    }
    .advantages-container {
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 700px) {
    .first-screen{ 
        &__container{
            padding-left: 0;
            & .box-info {
                background: #B08EAD;
                margin-top: -3px;
                margin-left: -1px;
                padding: 25px;
                height: auto;
                width: 100%;
                &__title {
                    font-size: 25px;
                } 
            }
        }
        &__banner-bg-color {
            min-height: 691px;
        }
    }
    
    .about {
        & .fd-row-reverse .box-info {
            margin-left: -1px;
            margin-right: 0;
            margin-top: -3px;
            z-index: 1;
            width: 100%;
            padding: 25px;
            &__title {
                font-size: 25px;
            }
        }
        &-container {
            padding-left: 0;
        }
    }
    .about-detail {
        &__subtitle {
            font-size: 18px;
        }
    }
    .trend {
        &-container {
            padding-left: 0;
        }
        & .box-info {
            background: #B08EAD;
            margin-top: -3px;
            margin-left: -1px;
            margin-right: 0;
            padding: 25px;
            height: auto;
            width: 100%;
        }
    }
}