<section class="first-screen">
    <div class="first-screen__banner-bg-color has-decoration">
        <div class="first-screen__container">
            <div class="banner-img">
                <img src="assets/img/home-image.png" alt="pillow" class="image-fluid mar-left-35">
            </div>
            <div class="box-info">
                <div class="box-info__uppertitle"><h4>new</h4></div>
                <div class="box-info__title"><h2>Spring Cushion</h2></div>
                <div class="box-info__title"><h2>Collection 2019</h2></div>
                <div class="box-info__about-block">
                    <a href="#" class="box-info__link">buy now</a>
                </div>
            </div>
        </div>  
    </div>
</section>
